[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
	ignore = dirty
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/conda-zsh-completion"]
	path = zsh/plugins/conda-zsh-completion
	url = git@github.com:esc/conda-zsh-completion.git
[submodule "vim_runtime"]
	path = vim_runtime
	url = git@github.com:amix/vimrc.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "dotbot-crontab"]
	path = dotbot-crontab
	url = git@github.com:codekansas/dotbot-crontab.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/zcomet"]
	path = zsh/plugins/zcomet
	url = git@github.com:agkozak/zcomet.git
[submodule "third-party/diff-so-fancy"]
	path = third-party/diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
